@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap");
@import url("/node_modules/primeflex/primeflex.css");

// Підключення локальних шрифтів
@font-face {
  font-family: 'Candara';
  src: url('@/assets/fonts/Candara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VollkornSC';
  src: url('@/assets/fonts/VollkornSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(10px, 1vw, 16px);
  font-family: "VollkornSC", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  scroll-margin-top: 100px;
}

body {

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #0A0A0A;
}

.container {
  width: 100%;
}

[class*="__container"] {
  max-width: 1434px;
  margin: 0 auto;
  padding: 0 15px;
}

input[type="text"] {
  transition: all 0.3s;
}

// h2,
// h3,
// p,
// span,
// li,
// label {
//   text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
//     -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
// }

a {
  text-decoration: none;
  color: #fff;
}

.fantasy-btn {
  background: url("@/assets/images/button-bg.svg") no-repeat center / cover;
  border: none;
  font-weight: 400;
  font-size: 24px;
  padding: 11px 0px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:active {
    transform: scale(0.9);
  }

  span {
    font-family: "VollkornSC", sans-serif;
    background: linear-gradient(180deg, #f8f8f8 0%, #fadfae 70%, #fbd298 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 2;
    transition: filter 0.3s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover span {
      filter: drop-shadow(0 0 2px #fad7a1) drop-shadow(0 0 10px #fbd298) drop-shadow(0 0 20px rgba(251, 210, 152, 0.5));
    }
  }

  @media (max-width: 768px) {
    font-size: 19px;
  }


  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 56px;
    background: url("@/assets/images/button-bg-left.svg") no-repeat center / contain;
    z-index: 1;

    @media (max-width: 768px) {
      height: 51.9px;
      left: -18px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 56px;
    background: url("@/assets/images/button-bg-right.svg") no-repeat center / contain;
    z-index: 1;

    @media (max-width: 768px) {
      height: 51.9px;
      right: -19px;
    }
  }

}

.btn {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  border: none;
  background: url("@/assets/images/btn-bg.svg") no-repeat center / contain;
  color: #fff;
  position: relative;
  width: clamp(300px, 19vw, 360px);
  height: 80px;
  font-size: 175%; /* 28/16 */
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  transform: scale(1);

  &.btn-sm {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background: url("@/assets/images/btn-bg-sm.svg") no-repeat center / contain;
    font-size: 87.5%; /* 14/16 */
    width: clamp(130px, 16vw, 202px);
    height: 58px;
  }

  &:active {
    transform: scale(0.9);
  }
}

.p-button {
  border: none !important;
  background: linear-gradient(87deg, #e26f0f 0%, rgba(217, 217, 217, 0) 100%),
    linear-gradient(270deg, #3d4c60 0%, rgba(0, 0, 0, 0) 100%) !important;
  font-family: inherit;
  transform: scale(1);
  transition: all 0.3s !important;
  color: #fff !important;

  &:hover {
    border: none !important;
  }

  &:active {
    transform: scale(0.9);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.invalid {
  border: 1px solid red !important;
}

.right-10px {
  right: 10px;
}

.p-paginator {
  background: linear-gradient(225deg, #e26f0f 0%, rgba(217, 217, 217, 0) 100%),
    linear-gradient(
      45deg,
      #3d4c60 0%,
      rgba(21, 26, 33, 0.34) 65.59%,
      rgba(0, 0, 0, 0) 100%
    ) !important;

  .p-paginator-page,
  .p-select-label {
    color: #fff !important;
  }

  .p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover,
  .p-paginator-first:not(.p-disabled):hover,
  .p-paginator-prev:not(.p-disabled):hover,
  .p-paginator-next:not(.p-disabled):hover,
  .p-paginator-last:not(.p-disabled):hover {
    background: rgba(0, 0, 0, 0.3) !important;
  }

  svg {
    fill: #fff;
    stroke: #fff;
  }
}

.p-select,
.p-paginator-page-selected,
.p-select-list-container {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
  border-radius: 5px;

  span {
    color: #fff !important;
    text-shadow: none !important;
  }
}

.p-select-list {
  background: rgba(0, 0, 0, 0.9) !important;
}

.p-select-overlay {
  border: none !important;
}

.p-select:not(.p-disabled).p-focus {
  border-color: #3d4c60 !important;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background-color: rgba($color: #e26f0f, $alpha: 0.2) !important;
}

.p-select-option.p-select-option-selected.p-focus,
.p-select-option.p-select-option-selected {
  background: rgba($color: #e26f0f, $alpha: 0.4) !important;
}

.p-dialog {
  background: linear-gradient(
    180deg,
    #16171b 20%,
    rgba(39, 50, 68, 1.51) 100%
  ) !important;
  position: relative;
  z-index: 101;
  color: #fff !important;
  border: 1px solid #2e2e2e !important;
  border-radius: 10px;
  width: 500px;
  cursor: default;

  @media (max-width: 550px) {
    width: 90%;
  }

  svg {
    stroke: #fff;
  }

  span {
    color: #fff;
  }
}

.p-confirmpopup {
  background: linear-gradient(
    180deg,
    #16171b 20%,
    rgb(39, 50, 68) 100%
  ) !important;
  color: #fff !important;
  border: 1px solid #e26f0f !important;

  .p-confirmpopup-icon {
    color: #e26f0f !important;
  }

  .p-button {
    background: #e26f0f !important;
  }

  span {
    color: #fff !important;
  }
}

.p-button {
  background: #e26f0f !important;

  &.danger {
    background: #d62828 !important;
  }

  &.success {
    background: #e26f0f !important;
  }

  &.success-green {
    background: #11af19 !important;
  }

  &.primary {
    background: #2f6690 !important;
  }
}

.text-trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

figure {
  width: 100%;
}

oembed {
  display: block;
  width: 100%;
  height: 500px;
}

.ck-editor {

  ul,
  ol {
    padding-left: 25px;
  }

  span,
  p,
  h2,
  h3,
  h4 {
    text-shadow: none !important;
  }

  & > * {
    color: #000;
  }

  .ck-content {
    min-height: 400px;
  }

}

.text-red {
  color: red;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #3d4c60;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e26f0f;
  }
}

.image-style-align-left {
  float: left;
  margin-right: 1rem;
}

.image-style-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-style-align-right {
  float: right;
  margin-left: 1rem;
}


